@import '/src/styles.scss';

.submit{
  width: 100%;
  font-weight: 600;
  background-color: $main-light-blue !important;
  border: 1px solid $secondary;

  &:hover{
    background-color: rgba($main-light-blue, .8) !important;
  };

  &:disabled{
    background-color: #ccc !important;
  }
}

::ng-deep .card{
  background-color: $main-acent !important;
}

::ng-deep .list-group-item{
  color: #fff;
  background-color: rgba($main-light-blue, .6) !important;
  margin-bottom: .5rem !important;
  padding: .75rem;

  strong{
    color: $secondary;
    background-color: #fff;
    padding: .5rem;
    border-radius: 10px;
    margin-right: .5rem;
  }
}

.from-control{
  width: 100%;
  border: none;
  height: 100%;
}

.required{
  border: 2px solid red;
}
