
:host{
  width: 100vw;
}

.chat-container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content 1fr;
  justify-content: center;
  align-items: center;
}

app-chat{
  grid-row: 2/2;
}
